@model MemberRegistration.ViewModels.ResponsiblePersonViewModel

@{
    ViewBag.Title = "Delete";
}

<h4><span class="glyphicon glyphicon-tower"></span> Jeste li sigurni da želite obrisati odgovornu osobu?</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na listu", "Index")
        </div>
    }
</div>
