@model MemberRegistration.ViewModels.SocietyViewModel

@{
    ViewBag.Title = "Index";
}

<h4><span class="glyphicon glyphicon-plus-sign"></span> Udruga</h4>

@if (Model == null)
{
    <p>
        @Html.ActionLink("Kreiraj udrugu", "Create")
    </p>
}
else
{
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Acronym)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acronym)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Place)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Place)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OIB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OIB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WebSite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WebSite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Logo)
            </dt>

            <dd>
                @if (Model.Logo != null)
                {
                    <img width="240" height="50" src="@Url.Action("GetImage", "Society", new { SocietyId = Model.Id })" />
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IBAN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IBAN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CashRegisterLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CashRegisterLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bank)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bank)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Uredi", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Obriši", "Delete", new { id = Model.Id })
    </p>
}